.no-select:focus { 
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	-khtml-user-select: none; 
	-moz-user-select: none; 
	-ms-user-select: none; 
	user-select: none; 
}

.no-select::selection { 
	background: transparent; 
}

.no-select::-moz-selection { 
	background: transparent; 
}

/* ---------------------------- Include fonts --------------------------*/

/* Gurmukhi */
@font-face {
	font-family: BalooPaaji;
	src: url(../fonts/BalooPaaji.otf);
	font-weight: 400;
}
/* Bangla */
@font-face {
	font-family: BalooDa;
	src: url(../fonts/BalooDa.otf);
	font-weight: 400;
}
/* Gujarati */
@font-face {
	font-family: BalooBhai;
	src: url(../fonts/BalooBhai.otf);
	font-weight: 400;
}
/* Odiya */
@font-face {
	font-family: BalooBhaina;
	src: url(../fonts/BalooBhaina.otf);
	font-weight: 400;
}
/* Malayalam */
@font-face {
	font-family: BalooChettan;
	src: url(../fonts/BalooChettan.otf);
	font-weight: 400;
}
/* Kannada */
@font-face {
	font-family: BalooTamma;
	src: url(../fonts/BalooTamma.otf);
	font-weight: 400;
}
/* Telugu */
@font-face {
	font-family: BalooTammudu;
	src: url(../fonts/BalooTammudu.otf);
	font-weight: 400;
}
/* Tamil */
@font-face {
	font-family: BalooThambi;
	src: url(../fonts/BalooThambi.otf);
	font-weight: 400;
}
/* Devnagiri */
@font-face {
	font-family: Baloo;
	src: url(../fonts/Baloo.otf);
	font-weight: 400;
}

/* ---------------------------- MAIN --------------------------*/

/* Main */
.fontDetails {
	z-index: 2;
	margin-top: 30%;
	color:#FFF;
}

.fontTitle {
	color:#fff;
	width: 100%;
	font-size: 96px;
	position: absolute;
	z-index: 2;
}

/* ---------------------------- Individual fonts --------------------------*/
#paajiMain {
	background-color:#14accc;
	min-height: 40em;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.paaji {
	font-family: BalooPaaji;
	margin:12% 32% auto;
}

.paajiDetails {
	font-family: BalooPaaji;
}

#paajiChar {
	font-family: BalooPaaji;
	color:black;
	font-size: 1000px;
	position: absolute;
	margin-top: -70%;
	margin-left: -115%;
	color:#099ab9;
}

#banglaMain {
	background-color:#ff778d;
	min-height: 40em;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.bangla {
	font-family: BalooDa;
	margin:12% 32% auto;
}

.banglaDetails {
	font-family: BalooDa;
}

#banglaChar {
	font-family: BalooDa;
	color:black;
	font-size: 1000px;
	position: absolute;
	margin-top: -70%;
	margin-left: -109%;
	color:#e96077;
}

#bhaiMain {
	background-color:#5674f7;
	min-height: 40em;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.bhai {
	font-family: BalooBhai;
	margin:12% 32% auto;
}

.bhaiDetails {
	font-family: BalooBhai;
}

#bhaiChar {
	font-family: BalooBhai;
	color:black;
	font-size: 1000px;
	position: absolute;
	margin-top: -70%;
	margin-left: -23%;
	color:#3a53be;
}

#bhainaMain {
	background-color:#e2c43a;
	min-height: 40em;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.bhaina {
	font-family: BalooBhaina;
	margin:12% 32% auto;
}

.bhainaDetails {
	font-family: BalooBhaina;
}

#bhainaChar {
	font-family: BalooBhaina;
	color:black;
	font-size: 1000px;
	position: absolute;
	margin-top: -100%;
	margin-left: -84%;
	color:#d1b42f;
}

#tammaMain {
	background-color:#ff778d;
	min-height: 40em;
	height: auto;
	padding-bottom: 20px;
	overflow: hidden;
}

.tamma {
	font-family: BalooTamma;
	margin:12% 22% auto;
}

.tammaDetails {
	font-family: BalooTamma;
}

#tammaChar {
	font-family: BalooTamma;
	color:black;
	font-size: 1000px;
	position: absolute;
	margin-top: -120%;
	margin-left: -82%;
	color:#e96077;
}

/* ---------------------------- Media queries --------------------------*/

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.fontDetails {
		margin-top:40%;
	}
	#paajiChar {
		position: absolute;
		margin-top: -110%;
		margin-left: -10%;
	}
	#banglaChar {
		position: absolute;
		margin-top: -100%;
		margin-left: 1%;
	}
	#bhainaChar {
		position: absolute;
		margin-top: -100%;
		margin-left: 1%;
	}
	#bhaiChar {
		position: absolute;
		margin-top: -110%;
		margin-left: -5%;
	}
	#tammaChar {
		position: absolute;
		margin-top: -120%;
		margin-left: 1%;
	}
	.tamma {
		margin-left:12%;
	}
	.bhaina {
		margin-left:25%;
	}
	.bhai {
		margin-left:30%;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }